@page "/"
@inject EventApp.Data.Services.EventDataService EventDataService
@using EventApp.Core.Models


<h1>Welcome to EventApp</h1>
<p>Choose an event to register:</p>

@if (events == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var e in events)
        {
            <li>
                <a href="/register/@e.Id">@e.Name</a> (Available Seats: @e.AvailableSeats)
            </li>
        }
    </ul>
}

@code {
    private IEnumerable<EventApp.Core.Models.Event> events;

    protected override async Task OnInitializedAsync()
    {
        events = await EventDataService.GetAllEventsAsync();
    }
}
